//Variables
$color1: blueviolet;
$color2: #DDFFF7;
$color3: #a66ae5;
$color4: #663399;
$fontFredoka: 'Fredoka One', cursive;
$fontAcme: 'Acme', sans-serif;

//Immersion Theater Styling

//Elements
html {
  width: 6816px;
  height: 2240px;
}

body {
  background: $color1;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

//Classes
.underlined {
  border-bottom: 10px solid $color2;
}

.leaderboard {
  width: 800px;
  height: 600px;
  text-align: center;
}

.leaderboard table {
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.leaderboard table thead tr th {
  font-family: $fontFredoka;
  font-size: 30px;
  padding-left: 10px;
  color: $color2;
}

.leaderboard table tbody {
  font-family: $fontAcme;
  padding: 10px;
}

.leaderboard table tbody tr td {
  font-size: 30px;
  text-align: left;
  padding-left: 40px;
}

.leaderboard table tbody tr:nth-child(even) td {
  background-color: $color3;
  color: $color2;
}

.leaderboard table tbody tr:nth-child(odd) td {
  background-color: $color4;
  color: $color2;
}

//IDs
#pageHolder {
  width: 100%;
  height: 100%;
}

//GameContent Section
#gameContent {
  float: left;
  vertical-align: top;
  width: 3408px;
  height: 2240px;
  display: inline-block;
  background-image: url(https://s3.amazonaws.com/tylermayberry/carnivalclaw/gameContentBG_Immersion.png);
}

#gameContentBottom {
  height: 600px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

#logoContainer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#orientationImageContainer {
  margin: auto;
  text-align: center;
}

#orientationImage {
  padding-top: 20px;
}

#timerTextContainer {
  width: 1700px;
  font-family: $fontFredoka;
  font-size: 70px;
  color: $color2;
  margin: auto;
}

#timerText {
  width: 1700px;
  font-family: $fontFredoka;
  font-size: 80px;
  color: $color2;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto;
}

#downloadText {
  width: 1700px;
  font-family: $fontAcme;
  font-size: 60px;
  color: $color2;
  margin: auto;
}

#codeArtLogoContainer{
  text-align: center;
  padding-top: 100px;
}

#codeArtLogo {
  width: 450px;
  height: 115px;
}

//InfoContent Section
#infoContent {
  float: right;
  vertical-align: top;
  position: relative;
  width: 3408px;
  height: 2240px;
  display: inline-block;
}

//TylerInfo Section
#tylerInfo {
  height: 740px;
  padding-top: 100px;
  padding-right: 500px;
  text-align: right;
}

#tylerInfoText {
  float: left;
  margin-left: 600px;
  width: 1600px;
  height: 100%;
  font-family: $fontAcme;
  color: $color2;
}

#tylerInfoTitle {
  width: 100%;
  font-size: 60px;
  font-family: $fontFredoka;
}

#tylerInfoContent {
  width: 100%;
  font-size: 45px;
  word-wrap: break-word;
}

#tylerImgContainer {
  float: right;
  height: 100%;
}

#tylerImg {
  border: 20px solid $color2;
  border-radius: 15px;
  width: 500px;
  height: 500px;
  background-image: url(https://s3.amazonaws.com/tylermayberry/carnivalclaw/tyler_Immersion.png);
}

//VideoInfo Section
#videoInfo {
  height: 740px;
  padding-top: 40px;
  background: rebeccapurple;
}

//Tutorial Video Section
#tutorialVideoContent {
  float: left;
  width: 1704px;
  height: 100%;
  text-align: center;
}

#tutorialVideoHeader {
  font-size: 60px;
  font-weight: bold;
  font-family: $fontFredoka;
  color: $color2;
  padding-bottom: 50px;
}

#tutorialVideoContainer {
  margin: auto;
}

#tutorialVideo {
  border: 20px solid $color2;
  border-radius: 15px;
}

//Tips Video Section
#tipsVideoContent{
  float: right;
  width: 1704px;
  height: 100%;
  text-align: center;
}

#tipsVideoHeader {
  font-size: 60px;
  font-weight: bold;
  font-family: $fontFredoka;
  color: $color2;
  padding-bottom: 50px;
}

#tipsVideoContainer {
  margin: auto;
}

#tipsVideo {
  border: 20px solid $color2;
  border-radius: 15px;
}

//Leaderboard Section
#lblHighScoresTitle {
  font-size: 30px;
  width:100%;
  background-color: $color4;
}

#leaderboardInfo {
  padding-top: 30px;
  text-align: center;
}

#lblHighScoresTitle{
  font-family: $fontFredoka;
  color: $color2;
}

#leaderboardContainer {
  text-align: center;
  margin: auto;
  border: 20px solid $color2;
  border-radius: 15px;
  display: inline-block;
}

#leaderboard0, #leaderboard1, #leaderboard2{
  display: inline-block;
}


///////////////////////////////////////
////////// GAME LAB STYLING ///////////
///////////////////////////////////////

@media only screen and (max-height: 1720px) {

  //Elements
  html{
    width: 7337px;
    height: 1720px;
  }

  //IDs

  #logoContainer {
    text-align: center;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #logoImg{
    width: 393px;
    height: 250px;
  }

  #gameContent {
    width: 3668px;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    background-image: url(https://s3.amazonaws.com/tylermayberry/carnivalclaw/gameContentBG_GameLab.png);
  }

  #orientationImage {
    width: 768px;
    height: 768px;
    padding: 0;
  }

  #downloadText {
    width: 1700px;
    font-family: $fontAcme;
    font-size: 50px;
    color: $color2;
    margin: auto;
  }

  #gameContentBottom {
    height: 600px;
    margin: auto;
    text-align: center;
    padding: 0;
    padding-top: 50px;
  }

  #codeArtLogoContainer{
    text-align: center;
    padding-top: 100px;
  }

  #codeArtLogo {
    width: 450px;
    height: 115px;
  }

  //InfoContent Section
  #infoContent {
    width: 3668px;
    height: 100%;
    vertical-align: top;
    position: relative;
    display: inline-block;
  }

  //TylerInfo Section
  #tylerInfo {
    height: 573px;
    padding-top: 85px;
    padding-right: 585px;
    text-align: right;
  }

  #tylerInfoText {
    float: left;
    margin-left: 600px;
    width: 1600px;
    height: 100%;
    font-family: $fontAcme;
    color: $color2;
  }

  #tylerInfoTitle {
    width: 100%;
    font-size: 50px;
    font-family: $fontFredoka;
  }

  #tylerInfoContent {
    width: 100%;
    font-size: 35px;
    word-wrap: break-word;
  }

  #tylerImgContainer {
    float: right;
    height: 100%;
  }

  #tylerImg {
    border: 20px solid $color2;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    background-image: url(https://s3.amazonaws.com/tylermayberry/carnivalclaw/tyler_GameLab.png);
  }

  //VideoInfo Section
  #videoInfo {
    height: 573px;
    padding-top: 40px;
    background: rebeccapurple;
  }

  //Tutorial Video Section
  #tutorialVideoContent {
    float: left;
    width: 1704px;
    height: 100%;
    text-align: center;
  }

  #tutorialVideoHeader {
    font-size: 50px;
    font-weight: bold;
    font-family: $fontFredoka;
    color: $color2;
    padding-bottom: 30px;
  }

  #tutorialVideoContainer {
    margin: auto;
  }

  #tutorialVideo {
    border: 20px solid $color2;
    border-radius: 15px;
    width: 538px;
    height: 390px;
  }

  //Tips Video Section
  #tipsVideoContent{
    float: right;
    width: 1704px;
    height: 100%;
    text-align: center;
  }

  #tipsVideoHeader {
    font-size: 50px;
    font-weight: bold;
    font-family: $fontFredoka;
    color: $color2;
    padding-bottom: 30px;
  }

  #tipsVideoContainer {
    margin: auto;
  }

  #tipsVideo {
    border: 20px solid $color2;
    border-radius: 15px;
    width: 538px;
    height: 390px;
  }

  //Leaderboard Info Section
  .leaderboard {
    width: 800px;
    height: 450px;
    text-align: center;
  }

  .leaderboard table thead tr th {
    font-size: 30px;
    padding-left: 10px;
  }

  .leaderboard table thead tr th:last-child {
    padding-left:20px;
  }

  .leaderboard table tbody {
    padding: 10px;
    //padding-bottom: 0;
  }

  .leaderboard table tbody tr td {
    font-size: 30px;
    padding-left: 40px;
  }

  #lblHighScoresTitle {
    font-size: 30px;
    width:100%;
  }

  #leaderboardInfo {
    padding-top: 18px;
  }
}