//Variables
$color1: blueviolet;
$color2: #DDFFF7;
$color3: #e22bdf;
$color4: #2be22e;
$color5: #00bbcc;
$fontFredoka: 'Fredoka One', cursive;
$fontAcme: 'Acme', sans-serif;

//Elements
html {
  height: 100vh;
}
body {
  height: 100%;
  font-family: $fontAcme;
  color: $color2;
}

//Classes
.inlineBlockItems{
  display: inline-block;
}

.deviceLogo {
  height: 40%;
}

.underlined {
  border-bottom: 3px solid $color2;
}

.verticalContainer {
  vertical-align: middle;
  display: table-cell;
}

//IDs

#pageWrapper {
  height: 100%;
  width: 100%;
}

//Header
#header {
  height: 25%;
  background: $color5;
  text-align: center;
}

#logoImg {
  height: 75%;
}

//Downloads
#downloadsSection {
  background: $color4;
  text-align: center;
  height: 50%;
  width: 100%;
  display: table;

  p {
    font-size: 2vh;
  }
}

#appleDownloadsContainer {
  padding: 20px 0;
  height: 49%;
  width: 100%;
  cursor: pointer;
  display: table-row;
  vertical-align: middle;
}

#bar {
  height: 2%;
  width: 100%;
  background: #1ac01d;
  display: table-row;
  vertical-align: middle;
}

#androidDownloadsContainer {
  padding: 20px 0;
  height: 49%;
  width: 100%;
  cursor: pointer;
  display: table-row;
  vertical-align: middle;
}

#footer {
  height: 25%;
  background: $color1;
  text-align: center;
}

#supportText {
  padding-top: 40px;
  color: $color2;
  font-size: 2vh;
}

#supportLink {
  color: $color2;
  text-decoration: none;
  cursor: pointer;
}

#copyrightInfo {
  font-size: 2vh;
}

///////////////////////
/////// MOBILE ////////
///////////////////////

@media only screen and (max-width: 440px) {
  #downloadsSection {
    p {
      font-size: 12pt;
    }
  }

  #bar {
    height: 5px;
  }
}