//Variables
$color1: blueviolet;
$color2: #DDFFF7;
$color3: #e22bdf;
$color4: #2be22e;
$color5: #00bbcc;
$fontFredoka: 'Fredoka One', cursive;
$fontAcme: 'Acme', sans-serif;

//Elements
html {
  height: 100vh;
}
body {
  height: 100%;
  font-family: $fontAcme;
  color: $color2;
}

//Classes
.inlineBlockItems{
  display: inline-block;
}

.deviceLogo {
  width: 10%;
}

.underlined {
  border-bottom: 3px solid $color2;
}

//IDs

//Header
#header {
  height: 25%;
  background: $color5;
  text-align: center;
}

#logoImg {
  width: 25%;
  padding-bottom: 20px;
}

//Downloads
#downloadsSection {
  background: $color4;
  text-align: center;
  margin: auto;
  height: *vh;

  p {
    font-size: 20px;
  }
}

#appleDownloadsContainer {
  padding: 20px 0;
}

#bar {
  height: 10px;
  background: #1ac01d;
}

#androidDownloadsContainer {
  padding: 20px 0;
}

#footer {
  height: 25%;
  background: $color1;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

#supportLink {
  font-family: $fontFredoka;
  color: $color2;
  text-decoration: none;
  margin: auto;
}

///////////////////////
/////// MOBILE ////////
///////////////////////

@media only screen and (max-width: 440px) {
  #downloadsSection {
    p {
      font-size: 12px;
    }
  }

  #bar {
    height: 5px;
  }
}