//Variables
$color1: blueviolet;
$color2: #DDFFF7;
$fontFredoka: 'Fredoka One', cursive;
$fontAcme: 'Acme', sans-serif;

//Elements
html {
  width: 6816px;
  height: 2240px;
}

body {
  background: $color1;
  width: 100%;
  height: 100%;
  margin: 0;
}

//Classes
.underlined {
  border-bottom: 10px solid $color2;
}

//IDs
#pageHolder {
  width: 100%;
  height: 100%;
  font-size: 0;

}

//GameContent Section
#gameContent {
  vertical-align: top;
  width: 3408px;
  height: 2240px;
  display: inline-block;
  background-image: url(https://s3.amazonaws.com/tylermayberry/gameContentBG.png);
}

#orientationImageHolder {
  width: 1000px;
  text-align: center;
}

#orientationImage {
  margin-top: 20px;
  height: 40%;
  width: 40%;
}

#timerText {
  width: 1000px;
  font-family: $fontFredoka;
  font-size: 40px;
  color: $color2;
  margin-top: 30px;
  margin-bottom: 10px;
}

#downloadText {
  width: 1000px;
  font-family: $fontAcme;
  font-size: 30px;
  color: $color2;
  margin: 0;
}

//InfoContent Section
#infoContent {
  vertical-align: top;
  position: relative;
  width: 3408px;
  height: 2240px;
  display: inline-block;
}

//TylerInfo Section
#tylerInfo {
  height: 740px;
  padding-top:100px;
  padding-right: 100px;
  text-align: right;
}

#tylerInfoText {
  float: left;
  margin-left: 1000px;
  width: 1600px;
  height: 100%;
  font-family: $fontAcme;
  color: $color2;
}

#tylerInfoTitle {
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  font-family: $fontFredoka;
}

#tylerInfoContent {
  width: 100%;
  font-size: 45px;
  word-wrap: break-word;
}

#tylerImgContainer {
  float: right;
  height: 100%;
}

#tylerImg {
  border: 20px solid $color2;
}

//VideoInfo Section
#videoInfo {
  height: 740px;
  padding-top: 100px;
}

//Tutorial Video Section
#tutorialVideoContainer {
  float: left;
  width: 1704px;
  height: 100%;
  text-align: center;
}

#tutorialVideoHeader {
  font-size: 60px;
  font-weight: bold;
  font-family: $fontFredoka;
  color: $color2;
  padding-bottom: 50px;
}

#tutorialVideo {
  width: 700px;
  height: 350px;
  background: blue;
  margin: auto;
}

//Instructions Video Section
#instructionsVideoContainer{
  float: right;
  width: 1704px;
  height: 100%;
  text-align: center;
}

#instructionsVideoHeader {
  font-size: 60px;
  font-weight: bold;
  font-family: $fontFredoka;
  color: $color2;
  padding-bottom: 50px;
}

#instructionsVideo {
  margin: auto;
  width: 700px;
  height: 350px;
  background: blue;
}

//Leaderboard Section
#leaderboardInfo {
  height: 740px;
}